* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background: #fff;
    color: #2E2E2E;
}

/* HEADER */
header {
    background: #fff;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    color: #FF6F00;
    font-size: 28px;
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    color: #2E2E2E;
}

/* HERO */
.hero {
    height: 90vh;
    background: linear-gradient(rgba(255, 111, 0, 0.75), rgba(0, 255, 234, 0.75)), url("hero.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    color: white;
    text-align: center;
}

.hero-content button {
    padding: 14px 35px;
    border-radius: 30px;
    border: none;
    background: white;
    color: #FF6F00;
    font-weight: bold;
    cursor: pointer;
}

/* SECTIONS */
.featured {
    padding: 60px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    width: 220px;
    height: 260px;
    border-radius: 16px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card span {
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
}

/* IMAGES */
.pizza {
    background-image: url("pizza.jpg");
}

.burger {
    background-image: url("burger.jpg");
}

.FreshBite {
    background-image: url("big.jpg");
}

/* LOGIN */
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form input {
    padding: 12px;
    margin: 10px;
    width: 260px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.login-form button {
    padding: 12px 30px;
    border-radius: 25px;
    border: none;
    background: #FF6F00;
    color: white;
    font-weight: bold;
}

/* FOOTER */
footer {
    background: #2E2E2E;
    color: white;
    text-align: center;
    padding: 20px;
}